#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 169, 182);
}

li{
  color: yellow;
  font-weight: bold;
  list-style: none;
}

li::before{
  content: "🐶>>"; 
  margin-right: auto;
  margin-left: 0%;
  text-align: left;
}

p{
  background-color: palevioletred;
  font-weight: bolder;
}

h2 {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  -webkit-text-fill-color:transparent;
  height: 45px;
}